*, *::after, *::before{

    
}

:root{
    
    
}

html{
    
    box-sizing: border-box; 
    
    
}




body{
    

width: 100vw; 

min-height: 100%;
position: relative;

position: relative;

overflow: scroll !important;

/* padding-bottom: 50vh;  */

box-sizing: inherit;
margin: 0px; 

    
    
}



.paper{
    
    
    /* margin-top: 4rem;  */
    
    
}




/* Add in the remainder of the classes here  */







/* Add in the media queries here  */




/* Add in the container queries here  */



/* Add in the orientation queries here  */




/* Add in the nested orientation queries here  */





/* Add in the Effects here  */





/* Add in the animations here */


















