

*{

    
    
    
}



body{

    
    
    
}




html{

    
    
    
}

:root{

    
    
    
    
}



/* Add in the classes here  */


.mainContainer{
    
    
}




.formContainer{
    
    position: relative; 
    
 
    
    
}



.form{


    
    
}


.inputContainer{

    position: relative;
    
    
}




.SVGContainer{

    
    position: absolute; 
    left: 68.4%; 
    top: 20%; 
    
    cursor: pointer;
    
    
}




.newsletterInput{

    
    min-height: 2.2rem;
    width: 12rem;
    background-color: "#0a1929"; 
    
    color: "#0a1929"; 
    
    
    
    
}



























